.ensayos-buttons, .ensayos-buttons-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: var(--padding-big);
}

.ensayos-buttons-centered {
    justify-content: center;
    padding-bottom: var(--padding-huge);
}

button.generateAnswersSheet, button.generateAnswersJSON, button.saveAnswersJSON {
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    padding: var(--padding-large) var(--padding-huge);
    margin: 0;
    background-color: var(--color-dark-green);
    color: var(--color-white);
    border: 3px solid var(--color-white);
    border-radius: 6px;
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: var(--fontsize-large);
}

button.generateAnswersSheet {
    padding: var(--padding-normal);
    background-color: var(--color-ecru);
    color: var(--color-black);
    font-size: var(--fontsize-normal);
}

button.saveAnswersJSON {
    background-color: var(--color-ecru);
    color: var(--color-black);
}

button.saveAnswersJSON:hover {
    background-color: var(--color-dark-red);
    color: var(--color-white);
    transform: scale(1.05) translateY(5px) translateX(10px);
    transition: transform 0.5s;
}

button.generateAnswersSheet:hover {
    transform: scale(1.05) translateY(5px) translateX(10px);
    transition: transform 0.5s;
}

button.generateAnswersJSON:hover {
    transform: scale(1.05) translateY(5px) translateX(-10px);
    transition: transform 0.5s;
}

#answersSheet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--padding-big);
    padding: var(--padding-big) 0;
    margin: 0;
    cursor: pointer !important;
    font-family: var(--secondary-font-family);
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

@media screen and (max-width: 1100px) {
    #answersSheet {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 850px) {
    #answersSheet {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    #answersSheet {
        grid-template-columns: 1fr;
    }
}

#answersSheet {

    .question {
        display: flex;
        flex-direction: column;
        padding: var(--padding-normal);
        margin: 0;
        border: 1px solid var(--color-white);
        border-radius: 6px;
    }

    .questionHeader {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        margin-bottom: var(--padding-normal);
    }

    .questionHeader label {
        padding: 0;
        margin: 0;
        font-weight: bold;
    }

    .questionHeader select {
        padding: 0;
        margin: 0;
        background-color: var(--color-black);
        color: var(--color-white);
        font-family: var(--secondary-font-family);
        text-align: center;
        border: 3px solid var(--color-white);
        border-radius: 6px;
        outline: none;
    }

    .questionHeader select option {
        padding: 0;
        margin: 0;
        border: none;
    }

    .optionsSection {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .optionRow {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        vertical-align: middle;
        padding: 0;
        margin: 0;
    }

    .optionRow span.optionLabel {
        display: inline-block;
        vertical-align: middle;
        padding: var(--padding-small);
        margin: 0;
        padding-right: var(--padding-normal);
        font-family: var(--monospace-font-family);
        font-weight: bold;
    }

    .optionRow .stars {
        padding: 0;
        margin: 0;
        padding-right: var(--padding-normal);
    }

    .optionRow span.star {
        padding: 0;
        margin: 0;
        font-size: var(--fontsize-large);
    }

    .optionRow.answered {
        background-color: var(--color-dark-green);
    }

    .question:has(.optionRow.answered) {
        background-color: rgba(var(--color-answered), 0.25);
        border: 5px solid var(--color-green);
    }

    .question.unanswered {
        border: 5px solid var(--color-dark-red);
    }

    .optionRow.discarded {
        background-color: rgba(var(--color-discarded), 0.25);
    }

    button.discard {
        display: inline-block;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        width: fit-content;
        height: fit-content;
        padding: 0 var(--padding-tiny);
        margin: 0;
        background-color: var(--color-gray);
        color: var(--color-black);
        border: none;
        border-radius: 3px;
        font-family: var(--secondary-font-family);
        font-weight: bold;
        font-size: var(--fontsize-small);
    }

    span.highlight {
        padding: 0;
        margin: 0;
        color: var(--color-golden);
    }

}